

header{
	
	color: white;
	margin: 20px;
	padding: 20px;
	margin-left: 80px;
	height: 200px;


	
}

#name{
	background-color: #4aaaa5;
	width: 33%;
	padding: 20px;
	float: left;
}

#right-header{
	color: black;
	text-align: left;
	float: right;
	padding: 20px;
	margin-right: 400px;
	background-color: orange;
	margin-left: 50px;
}
h5{
	text-align: left;
}
h2{
	color: #4aaaa5;
}
h3{
	color:#4aaaa5;
}

#top-right{
	background-color: orange;
	width: 33%;
	float: left;
}
.container{
	width: 1024px;
	margin: 20px;
	background-image: url("../images/seamless_paper_texture.png");
}

#main-bio{
	float: left;
	background-color: yellow;
	margin-left: 80px;
	margin-bottom: 30px;

}
#connect{
	float: right;
}
#bio-image{
	float: left;
}

#main-bio{
	width: 50%;
}

#connect{
	width: 20%;
	background-color: green;
	height: 100px;
	padding: 20px;
	text-align: left;
}

footer{
	background-color: #666666;
	padding: 20px;
	text-align: center;
	float: both;
	clear: both;
	

}